@using sisceusi.entidad;
@{
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}

<div class="container-fluid menu-nav bg-white fixed-top d-print-none p-0" id="cabecera">
    <div class="container-fluid bg-nuevo-azul">
        <div class="container menu-main">            
            <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar p-0">
                <ul class="navbar-nav mr-md-auto">
                    <li class="nav-item align-self-center"><a class="nav-link p-1" href="https://www.gob.pe/minem" target="_blank"><img src="@Url.Content("~/images/logo_mem.svg")" height="48"></a></li>
                    <li class="nav-item align-self-center"><a class="nav-link p-1" href="http://www.minem.gob.pe/_detalle.php?idSector=12&amp;idTitular=3011&amp;idMenu=sub3001&amp;idCateg=716" target="_blank"><img src="@Url.Content("~/images/logo_dgee.svg")" height="48"></a></li>
                </ul>
                @if (usuario == null)
                {
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item align-self-center"><a class="btn btn-celeste btn-md px-4 font-weight-bold" href="@Url.Action("Index", "Login")" role="button">INICIAR SESIÓN</a></li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item align-self-center"><a class="btn btn-danger btn-md px-4 font-weight-bold" href="@Url.Action("Salir", "Login")" role="button">CERRAR SESIÓN</a></li>
                    </ul>
                }
            </header>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container menu-sub">
            <nav class="navbar navbar-expand-lg p-0 py-1">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mr-5 d-flex align-items-center mostrar-logo"><a href="@Url.Action("Index", "Inicio")"><img src="@Url.Content("~/images/logo_web.svg")" height="33"></a></li>
                        <li class="nav-item primer-elemento"><a class="nav-link font-weight-bold px-4" href="@Url.Action("Index", "Inicio")">INICIO</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold px-4" href="#" role="button" data-toggle="dropdown" aria-expanded="true">SUB SECTOR</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="@Url.Action("Reporte", "Inicio", new { id = 1 })">Industria Minería</a><a class="dropdown-item" href="@Url.Action("Reporte", "Inicio", new { id = 2 })">Industria Pesquera</a><a class="dropdown-item" href="@Url.Action("Reporte", "Inicio", new { id = 3 })">Manufactura</a><a class="dropdown-item" href="@Url.Action("Reporte", "Inicio", new { id = 4 })">Industria</a></div>
                        </li>
                        @*<li class="nav-item"><a class="nav-link font-weight-bold px-4" href="./estadisticas.html">ESTADÍSTICAS</a></li>*@
                        <li class="nav-item"><a class="nav-link font-weight-bold px-4" href="@Url.Action("contacto", "Inicio")">CONTACTO</a></li>
                    </ul>
                    @if (usuario != null)
                        {
                        string code = "USU" + usuario.idUsuario.ToString("D4");
                        <div class="btn-group w-sm-100 hide-section">
                            <a class="btn btn-info boton-acceso dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><small><b>@code - @usuario.nombres.ToUpper() <br></b></small><small class="text-truncate">@usuario.empresaIndustria.ruc - @usuario.empresaIndustria.nombreEmpresa</small></a>
                            <div class="dropdown-menu dropdown-menu-right w-sm-100">
                                <span class="dropdown-item font-weight-bold">Rol: &nbsp;<span class="badge badge-info">@usuario.rol.rol</span><br></span><a class="dropdown-item" href="@Url.Action("MaestroMantenimiento", "Interno")"><i class="fas fa-cogs pr-1"></i>Mantenimiento de tablas</a><a class="dropdown-item" href="@Url.Action("CambiarClave","Interno")"><i class="fas fa-key pr-1"></i>Cambiar contraseña</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="@Url.Action("Salir", "Login")"><i class="fas fa-sign-out-alt pr-1"></i>Salir del sistema</a>
                            </div>
                        </div>
                    }
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="flecha-top d-print-none"><i class="fas fa-angle-double-right fa-2x text-dark btn-slider-bottom"></i></div>
@if (usuario == null)
{
    <div class="redes-sociales d-flex flex-column justify-content-around align-items-center"><a href="#" target="_blank"><img class="icon_redes" src="@Url.Content("~/images/icon_fb.svg")"></a><a href="#" target="_blank"><img class="icon_redes" src="@Url.Content("~/images/icon_ig.svg")"></a><a href="#" target="_blank"><img class="icon_redes" src="@Url.Content("~/images/icon_tw.svg")"></a><a href="#" target="_blank"><img class="icon_redes" src="@Url.Content("~/images/icon_yt.svg")"></a><a href="#" target="_blank"><img class="icon_redes" src="@Url.Content("~/images/icon_wp.svg")"></a><a href="#" target="_blank"><img class="icon_redes" src="@Url.Content("~/images/icon_ld.svg")"></a></div>
}
