@using Newtonsoft.Json;
@using sisceusi.entidad
@using System.Configuration;
@{
    ViewBag.Title = "Index";
    List<BannerBE> listaBanner = ViewData["listaBanner"] == null ? new List<BannerBE>() : (List<BannerBE>)ViewData["listaBanner"];
    List<PublicacionBE> listaPublicacion = ViewData["listaPublicacion"] == null ? new List<PublicacionBE>() : (List<PublicacionBE>)ViewData["listaPublicacion"];
    List<EnlaceBE> listaEnlace = ViewData["listaEnlace"] == null ? new List<EnlaceBE>() : (List<EnlaceBE>)ViewData["listaEnlace"];
    LogoRedSocialBE logo = ViewData["logo"] == null ? null : (LogoRedSocialBE)ViewData["logo"];
}

@section scripts_footer {
    <script src="~/Scripts/Sisceusi/inicio_index.js"></script>
}

<div class="container-fluid banner" id="carousel">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 order-1 order-sm-1 order-md-1 order-lg-2 banner-lado-derecho">
            <div class="banners">
                @if (listaBanner == null || listaBanner.Count == 0)
                {
                    <div class="banner-1 banner-mostrado" data-titulo="01 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="01 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común." data-imagen="@Url.Content("~/images/banner.png")" data-titulo-boton="Ver más" data-link-boton="http://google.com"></div>
                    <div class="banner-2" data-titulo="02 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="02 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común." data-imagen="@Url.Content("~/images/banner.png")" data-titulo-boton="Ver más 01" data-link-boton="http://google.com"></div>
                    <div class="banner-3" data-titulo="03 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="03 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común." data-imagen="@Url.Content("~/images/banner.png")" data-titulo-boton="Ver más 02" data-link-boton="http://peru.com"></div>
                    <div class="banner-4" data-titulo="04 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="04 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común." data-imagen="@Url.Content("~/images/banner.png")" data-titulo-boton="Ver más 03" data-link-boton="http://google.com"></div>
                    <div class="banner-5" data-titulo="05 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="05 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común." data-imagen="@Url.Content("~/images/banner.png")" data-titulo-boton="Ver más 04" data-link-boton="http://peru.com"></div>
                    <div class="banner-6" data-titulo="06 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="06 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común." data-imagen="@Url.Content("~/images/banner.png")" data-titulo-boton="Ver más 05" data-link-boton="http://google.com"></div>
                }
                else
                {
                    for (int i = 0; i < listaBanner.Count; i++)
                    {
                        string ruta = ConfigurationManager.AppSettings.Get("rutaImagenBanner");
                        string nombre = String.Concat(listaBanner[i].nombreArchivoGeneradoBanner, "_", listaBanner[i].nombreArchivoBanner);
                        string pathFile = $"~/{ruta}/{nombre}";
                        string style = i == 0 ? "banner-mostrado" : "";
                        int cont = i + 1;
                        <div class="banner-@cont @style" data-titulo="@listaBanner[i].tituloBanner" data-color="" data-descripcion="@listaBanner[i].descripcionBanner" data-imagen="@Url.Content(pathFile)" data-titulo-boton="@listaBanner[i].tituloBoton" data-link-boton="@listaBanner[i].enlaceBoton"></div>
                    }
                }
            </div>
            <div class="container position-absolute z-top">
                <div class="row">
                    <div class="col-12 d-pagging">
                        <div class="col-md-1 d-flex flex-row justify-content-center align-items-center wrap-slider-left z-top"><i class="fas fa-chevron-left fa-3x text-white btn-slider-left d-none d-md-block"></i></div>
                        <div class="col-md-10 col-sm-12 text-center">
                            <div class="row">
                                <div class="col-12 d-flex flex-row justify-content-center align-items-end">
                                    <div class="slider-pagging"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 d-flex flex-row justify-content-center align-items-center wrap-slider-right z-top"><i class="fas fa-chevron-right fa-3x text-white btn-slider-right d-none d-md-block"></i></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="presentacion py-4 px-2">
                            <div class="wrap-descripciones">
                                <div class="slider-mensaje">
                                    <div class="bd-callout">
                                        <blockquote class="blockquote">
                                            <p class="mb-0 text-white font-weight-bold"></p>
                                            <footer class="blockquote-footer typer text-white"></footer><a class="btn btn-amarillo btn-md px-4 mt-4" target="_blank" href="#" role="button">Ir a la encuesta</a>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid banner-mensaje d-flex justify-content-center align-items-center">
                <div class="container">
                    @if (listaBanner == null || listaBanner.Count == 0)
                    {
                        <p class="text-white text-truncate p-0 m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quisquam harum quis explicabo tenetur enim, suscipit accusantium quidem repudiandae vero temporibus possimus corrupti autem, molestias hic voluptas mollitia fugit! Quaerat?</p>
                    }
                    else
                    {
                        <p class="text-white text-truncate p-0 m-0">@listaBanner[0].descripcionFija</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="row">
                @if (listaPublicacion == null || listaPublicacion.Count == 0)
                {
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                        <img class="img-fluid w-100" src="@Url.Content("~/images/portada01.png")">
                        <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                        <img class="img-fluid w-100" src="@Url.Content("~/images/portada02.png")">
                        <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                        <img class="img-fluid w-100" src="@Url.Content("~/images/portada03.png")">
                        <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                        <img class="img-fluid w-100" src="@Url.Content("~/images/portada01.png")">
                        <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                        <img class="img-fluid w-100" src="@Url.Content("~/images/portada02.png")">
                        <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                        <img class="img-fluid w-100" src="@Url.Content("~/images/portada03.png")">
                        <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                    </div>
                }
                else
                {
                    for (int i = 0; i < listaPublicacion.Count; i++)
                    {
                        string ruta = ConfigurationManager.AppSettings.Get("rutaImagenPublicacion");
                        string nombre = String.Concat(listaPublicacion[i].nombreArchivoGeneradoPubli, "_", listaPublicacion[i].nombreArchivoPublicacion);
                        string pathFile = $"~/{ruta}/{nombre}";
                        int tamnioPublicacion = listaPublicacion[i].descripcionPublicacion.Length;
                        string publicacion = tamnioPublicacion < listaPublicacion[i].limiteCaracter ? listaPublicacion[i].descripcionPublicacion : listaPublicacion[i].descripcionPublicacion.Substring(0, listaPublicacion[i].limiteCaracter);
                        @*<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                            <img class="img-fluid w-100" src="@Url.Content(pathFile)">
                            <p class="font-weight-bold my-4">@listaPublicacion[i].tituloPublicacion</p><span class="d-block text-justify">@listaPublicacion[i].descripcionPublicacion</span>
                        </div>*@
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                            <div class="img-noticia" style="background-image: url(@Url.Content(pathFile))"></div>
                            <p class="font-weight-bold my-4">@listaPublicacion[i].tituloPublicacion</p>
                            <span class="d-block text-justify">
                                <p>@publicacion<a class="lnk-leer-mas" href="@listaPublicacion[i].enlacePublicacion" target="_blank">@listaPublicacion[i].textoEnlacePublicacion</a></p>
                            </span>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="row ml-0">
                <div class="col-12 bg-gris my-5">
                    <p class="mb-0 font-weight-bold my-2">LINKS DE INTERÉS</p>
                    <ul class="list-unstyled">
                        @if (listaEnlace == null || listaEnlace.Count == 0)
                        {
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;1</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;2</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;3</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;4</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;5</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;6</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;7</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;8</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;9</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;10</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;11</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;12</a></li>
                            <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;13</a></li>
                        }
                        else
                        {
                            for (int i = 0; i < listaEnlace.Count; i++)
                            {
                                <li class="my-3"><a class="letras-azul-claro-02" target="_blank" href="@listaEnlace[i].descripcionEnlace">@listaEnlace[i].tituloEnlace</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var listaBanner = @Html.Raw(JsonConvert.SerializeObject(listaBanner));
    var listaPublicacion = @Html.Raw(JsonConvert.SerializeObject(listaPublicacion));
    var listaEnlace = @Html.Raw(JsonConvert.SerializeObject(listaEnlace));
    var logo = @Html.Raw(JsonConvert.SerializeObject(logo));
</script>

