
@{
    ViewBag.Title = "Index";
}

@section scripts_footer {
    <script src="~/Scripts/Sisceusi/inicio_index.js"></script>
}

<div class="container-fluid banner" id="carousel">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 order-1 order-sm-1 order-md-1 order-lg-2 banner-lado-derecho">
            <div class="banners">
                <div class="banner-1 banner-mostrado" data-titulo="01 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="01 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común."></div>
                <div class="banner-2" data-titulo="02 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="02 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común."></div>
                <div class="banner-3" data-titulo="03 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="03 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común."></div>
                <div class="banner-4" data-titulo="04 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="04 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común."></div>
                <div class="banner-5" data-titulo="05 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="05 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común."></div>
                <div class="banner-6" data-titulo="06 ENERGÍA ÚTIL ENCUESTA 2022" data-color="" data-descripcion="06 Estudio que brinda los resultados de los flujos físicos de los diferentes energéticos utilizados en el país, mediante los cuales, la energía, se produce, intercambia con el exterior, transforma, consume, etc.; todo calculado en una unidad energética común."></div>
            </div>
            <div class="container position-absolute">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="presentacion py-4 px-2">
                            <div class="wrap-descripciones">
                                <div class="slider-mensaje">
                                    <div class="bd-callout">
                                        <blockquote class="blockquote">
                                            <p class="mb-0 text-white font-weight-bold"></p>
                                            <footer class="blockquote-footer typer text-white"></footer><a class="btn btn-amarillo btn-md px-4 mt-4" href="#" role="button">Ir a la encuesta</a>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-1 d-flex flex-row justify-content-center align-items-center wrap-slider-left"><i class="fas fa-chevron-left fa-3x text-white btn-slider-left d-none d-md-block"></i></div>
                    <div class="col-md-10 col-sm-12 text-center">
                        <div class="row">
                            <div class="col-12 d-flex flex-row justify-content-center align-items-end">
                                <div class="slider-pagging"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 d-flex flex-row justify-content-center align-items-center wrap-slider-right"><i class="fas fa-chevron-right fa-3x text-white btn-slider-right d-none d-md-block"></i></div>
                </div>
            </div>
            <div class="container-fluid banner-mensaje d-flex justify-content-center align-items-center">
                <div class="container">
                    <p class="text-white text-truncate p-0 m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quisquam harum quis explicabo tenetur enim, suscipit accusantium quidem repudiandae vero temporibus possimus corrupti autem, molestias hic voluptas mollitia fugit! Quaerat?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                    <img class="img-fluid w-100" src="@Url.Content("~/images/portada01.png")">
                    <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                    <img class="img-fluid w-100" src="@Url.Content("~/images/portada02.png")">
                    <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                    <img class="img-fluid w-100" src="@Url.Content("~/images/portada03.png")">
                    <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                    <img class="img-fluid w-100" src="@Url.Content("~/images/portada01.png")">
                    <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                    <img class="img-fluid w-100" src="@Url.Content("~/images/portada02.png")">
                    <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 my-5">
                    <img class="img-fluid w-100" src="@Url.Content("~/images/portada03.png")">
                    <p class="font-weight-bold my-4">Título del artículo 2022</p><span class="d-block text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quas ipsa excepturi ducimus debitis nostrum nesciunt voluptate, nemo error quia cupiditate, vero cum illo autem magni quo ut necessitatibus.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="row ml-0">
                <div class="col-12 bg-gris my-5">
                    <p class="mb-0 font-weight-bold my-2">LINKS DE INTERÉS</p>
                    <ul class="list-unstyled">
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;1</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;2</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;3</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;4</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;5</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;6</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;7</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;8</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;9</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;10</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;11</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;12</a></li>
                        <li class="my-3"><a class="letras-azul-claro-02" href="#">Nombre del archivo vinculado / linkeado a su origen &nbsp;13</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

